* {
  margin: 0;
  padding: 0;
  /* border: .5px solid red;   */
  list-style: none;
  font-size: 1em;
  font-family: 'Dancing Script', cursive;
  font-family: 'Poppins', sans-serif;
}

body, section {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  overflow-x: hidden;
}

:root {
  --main-color: #141414;
  --sec-color: #fbfcff;
  --third-color: #3da739;
  --fourth-color: #3a9bbb;
  --fifth-color: #f49301;   
}

.hidden-l {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: ease 1s;
}

.hidden-r {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: ease 1s;
}

.show {
  opacity: 1; 
  filter: blur(0);
  transform: translateX(0);
}

.show-r {
  opacity: 1; 
  filter: blur(0);
  transform: translateX(0);
}

.nav-container {
  position: relative;
  height: 10vh;
  background-color: var(--main-color);
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#logo {
  color: var(--third-color) ;
  margin-left: 55px;
}

#logo:hover {
  transform: scale(1.5);
  transition: .5s;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 20px;
  transition: transform 0.2s ease;
}

nav ul li a {
  text-decoration: none;
  color: var(--fifth-color);

}

.active {
  color: var(--third-color);
  border-radius: 20px;
  padding: 3px 5px;
  background-color: var(--sec-color);
}

nav ul li:hover {
  transform: scale(1.1);
}

nav ul li a:hover {
  color: var(--third-color);
  transition: ease-in-out;
}

.active:hover {
  color: var(--fifth-color);
  background-color: #3a9bbb;
}

.menu-bar {
  display: none;
}
.menu-bar li:hover {
  transform: scale(1.2);
}
.menu-bar a {
  color: var(--sec-color);
  font-size: 20px;
}

@media (max-width:600px) {
  #logo {
    margin-left: 15px;
  }

  #logo:hover {
    transform: scale(1.2);
  }

  .menu-off {
    display: none;
  }

  .menu-on {
    display: block;
    position: absolute;
    top: 100%;
    right: 2%;
    justify-self: center;
    border-radius: 10px;
    transition: all .5s ease;
    padding-bottom: 10px;
  }

  .nav-list ul {
    background-color: var(--third-color);
    
  }

  nav ul li {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    
  }

  nav ul li a {
    color: var(--sec-color);
  }

  nav ul li a:hover {
    color: var(--fifth-color);
  }
  
  .menu-bar {
    position: absolute;
    display: flex;
    top: 20%;
    right: 9%;
  }
  
}

#home {
  background: url(image/mainbg.jpg);
  height: 100vh;
  overflow: hidden;
}

#greetings {
  font-size: 1.8em;
  color: var(--sec-color);
  padding-top: 60px;
  padding-left: 70px;
}

#home p {
  width: 50%;
  font-size: .8em;
  color: var(--sec-color);
  padding: 5px 250px 10px 80px;
}

#platform-link {
  width: 100%;
  height: 100%;
}
#platform-link ul{
  display: flex;
  padding-left: 50px;
  justify-content: flex-start;
}

#platform-link ul li {
  padding: 0 20px;
}

#platform-link ul a {
  font-size: 25px;
}
.fa-facebook {
  padding: 7px 8px;
  color: var(--sec-color);
  background-color: var(--third-color);
  border-radius: 50%;
}

.fa-discord {
  padding: 7px 5px;
  color: var(--sec-color);
  background-color: var(--third-color);
  border-radius: 50%;
}

.fa-github {
  padding: 7px 8px;
  color: var(--sec-color);
  background-color: var(--third-color);
  border-radius: 50%;
}


#platform-link ul li:hover {
  transition: all ease .5s;
  transform: scale(1.1);
}

@media (max-width:600px) {
  #greetings {
    color: white;
    font-size: 18px;
    padding-top: 40px;
    padding-left: 20px ;
  }
  #home p {
    display: none;
  }
  #platform-link ul{
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 200px 0 20px 0;
  }

  #platform-link ul{
    display: flex;
    justify-content: center;
  }

  .spinner {
  width: 15px;
  height: 15px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
  position: absolute;
  top: 38%;
  left: 47%;
  transform: translate(-50%, -50%);
  }

  .spinner:hover {
    transform: scale(1.5);
  }

  .spinner > div {
    background-color: var(--main-color);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2.2px solid var(--fourth-color);
  }

  .spinner div:nth-of-type(1) {
    transform: translateZ(-22.4px) rotateY(180deg);
  }

  .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
  }

  .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
  }

  .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
  }

  .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
  }

  .spinner div:nth-of-type(6) {
    transform: translateZ(22.4px);
  }

  @keyframes spinner-y0fdc1 {
    0% {
      transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
  }

}

.about-container {
  height: 80vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
}

.profile-img {
  margin: 50px 20px 30px 100px;
}

.about-me h3 {
  color: var(--third-color);
  margin-top: 50px;
  margin-bottom: 30px;
}
.about-me p {
  color: var(--sec-color);
}

@media (max-width:600px) {
  .about-container {
    display: block;
  }

  .profile-img {
    margin: 20px auto 10px auto;
    display: grid;
    place-items: center;
  }

  .about-me h3 {
    margin: 10px auto 10px auto;
    text-align: center;
  }

  .about-me p {
    margin: 10px 5px 10px 5px;
    text-align: center;
  }
}


.projects-container {
  background: url(image/space.jpg);
  height: 100vh;
}




/* .container {
  position: relative;
  z-index: 10002; 
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000; 
} */


